.navBar {
  width: 19%;
  background-color: #112C8C;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.Subnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  position: relative;
}

.menu {
    list-style-type: none;
    margin: 0;
    width: 90%;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #00071C;
  border-radius: 5px;
}

.icon {
  font-size: 20px;
}

.text {
  font-size: 16px;
}

.NavHeadrer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border: 4px solid rgba(0, 0, 255, 0.3);
    border-top: 4px solid #0077ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 1000; /* To ensure the spinner is on top of everything */
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.menu-item.active {
  background-color: #00071C;
  border-radius: 5px;
}

